@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-sans: var(--font-inter);

  /* Custom color tokens */
  --color-SidebarBlue: #111926;
  --color-TextGray: #9DA4AE;
  --color-Gray: #28303B; 
}

html, body {
  font-family: var(--font-sans);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
