@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-sans: var(--font-inter);

  /* Custom color tokens */
  --color-SidebarBlue: #111926;
  --color-TextGray: #9DA4AE;
  --color-Gray: #28303B;
  --color-BorderGray: #E0DFDE;
}

html, body {
  font-family: var(--font-sans);
}

.ant-table,
.ant-table * {
  font-family: var(--font-sans) !important;
}

/* Force pagination to use Inter font */
.ant-pagination,
.ant-pagination * {
  font-family: var(--font-sans) !important;
}


/* Custom table border styling */
.custom-table .ant-table {
  border-left: 2px solid var(--color-BorderGray);
  border-right: 2px solid var(--color-BorderGray);
  border-bottom: 2px solid var(--color-BorderGray);
  border-top: none !important;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden ;
}

/* somewhere in your global CSS */
.sidebar-popover .ant-popover-inner {
  background: transparent !important; /* remove white */
  padding: 0 !important;              /* remove padding */
  box-shadow: none !important;        /* remove AntD shadow if you only want your own */
}

.account-popover .ant-popover-inner {
  background: transparent !important; /* remove white */
  box-shadow: none !important;        /* remove AntD shadow if you only want your own */
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
