@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-sans: var(--font-inter);

  /* Custom color tokens */
  --color-SidebarBlue: #111926;
  --color-TextGray: #9DA4AE;
  --color-Gray: #28303B;
  --color-BorderGray: #E0DFDE;
}

html, body {
  font-family: var(--font-sans);
}

.ant-table,
.ant-table * {
  font-family: var(--font-sans) !important;
}

/* Force pagination to use Inter font */
.ant-pagination,
.ant-pagination * {
  font-family: var(--font-sans) !important;
}


/* Custom table border styling */
.custom-table .ant-table {
  border-left: 2px solid var(--color-BorderGray);
  border-right: 2px solid var(--color-BorderGray);
  border-bottom: 2px solid var(--color-BorderGray);
  border-top: none !important; /* remove top border */
  border-radius: 0; /* keeps edges sharp */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
